__pycache__/
/.env

/dropbear/
/sshbox_test/
/litellm/db/

/play/*
!/play/instance/
/play/instance/*
!/play/instance/instance.json

/litellm/.*.env
!/litellm/.example.env
/litellm/config_*.yaml
!/litellm/config_example.yaml

mini-swe-agent/

/harness/.env
/harness/workdir/
/harness/results/
